@model ProiectASP.Models.Category

@{
    ViewBag.Title = "Index";
}

<h2>Afisare categorii</h2>
<br />
@if (ViewBag.Message != null)
{
        <h2 class="alert-success p-3 rounded-3 text-center mb-5">@ViewBag.Message</h2>
}
<br />


@foreach (ProiectASP.Models.Category category in ViewBag.Categories)
{
        <div class="card">
            <div><i class="bi bi-globe"></i> @category.CategoryName</div>

            <a class="btn btn-success" href="/Categories/Show/@category.Id">Afisare categorie</a>
   
        </div>

        <br />
        <br />
}